@media (425px <=width <=725px) {
    header {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(169, 203, 231);
        padding: 10px 20px;

    }

    .logo h3 {
        font-size: 20px;
    }


    .logo span {
        font-size: 12px;
        letter-spacing: 8px;
    }

    /* ____Search bar____ */

    .search-bar {
        width: 70%;
    }

    .search-bar .icon {
        width: 20%;
    }

    .search-bar .icon i {
        font-size: 22px;
    }

    .icons {
        display: none;
    }

}
 
@media (375px <=width <=425px) {



    .logo h3 {
        font-size: 20px;
    }


    .logo span {
        font-size: 11px;
        letter-spacing: 8px;
    }

    /* ____Search bar____ */

    .search-bar {
        width: 60%;
    }

    .search-bar .icon {
        width: 18%;
    }

    .search-bar .icon i {
        font-size: 20px;
    }

    .icons {
        display: none;
    }
}

@media (300px <=width <=375px) {



    .logo h3 {
        font-size: 18px;
    }


    .logo span {
        font-size: 10px;
        letter-spacing: 8px;
    }

    /* ____Search bar____ */

    .search-bar {
        width: 66%;
    }

    .search-bar input {
        padding: 0 12px;
        font-size: 12px;
        letter-spacing: none;
    }

    .search-bar .icon {
        width: 20%;
    }

    .search-bar .icon i {
        font-size: 18px;
    }

    .icons {
        display: none;
    }
}