* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ____Header____ */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(169, 203, 231);
    padding: 10px 0;
}


/* ____LOGO____ */
.logo h3 {
    color: rgb(41, 139, 219);
    font-weight: bolder;
    font-size: 25px;
    margin: 0;
}


.logo span {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    font-weight: bold;
}

/* ____Search bar____ */
.search-bar {
    border-right: none;
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    border-radius: 5px;
}


.search-bar input {
    width: 88%;
    outline: none;
    height: inherit;
    border: 1px solid rgb(189, 183, 183);
    padding: 0 10px;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.3s ease-out;
    color: rgb(111, 116, 116);
    letter-spacing: 2px;
}

.search-bar input:focus {
    border: 1px solid rgb(108, 181, 240);
    box-shadow: 0 0 4px 1px rgb(205, 223, 238);
}

.search-bar .icon {
    width: 12%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(41, 139, 219);
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar .icon i {
    font-size: 22px;
    color: #ffff;
}

/* ____Icons____ */

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons i {
    font-size: 30px;
    cursor: pointer;
}

.icons i:nth-child(2) {
    color: rgba(59, 57, 57, 0.904);
}

.icons i:nth-child(1) {
    color: rgb(41, 139, 219);

}

/* _______________BANNER SECTION______________ */

.banner-section {
    margin-top: 50px;
}


.banner-section .row nav {
    border-radius: 5px;
    border: 1px solid rgb(223, 216, 216);
    width: 100%;

}

.banner-section .row nav span {
    text-align: center;
    display: block;
    padding: 8px 0;
    background: rgb(41, 139, 219);
    color: #fff;
    font-weight: 500;
}

.banner-section .row nav ul {
    list-style: none;
    padding:  0;
}

.banner-section .row nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    transition: 0.1s ease;
}

.banner-section .row nav ul li a:hover {
    background-color: rgb(41, 139, 219);
    color: #fff;
}

.banner-section .row .banner {
    border: 2px solid green;
}



/* _______________SAMRT PHONE SECTION__________________ */

.row {
    padding: 0 20px;
}


.row .card {
    margin: 0 auto;
    cursor: pointer;
    width: 10rem;
}

/* _________LAPTOP SECTION_____________ */

.laptop-section {
    padding: 50px 0;
}


.laptop-section .row .card {
    width: 15rem;
}

/* ___________WATCHES SECTION_____________ */
.smart-watches .row .cols {
    /* border: 2px solid black; */
    padding: 0;
    margin-top: 50px;
}

.smart-watches .row .cols .card {
    width: 100%;
    /* padding: 10px; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.smart-watches .row .cols .card img {
    width: 150px;
    height: 150px;

}

/* _____________FOOTER___________ */
.footer {
    background-color: rgba(212, 232, 250, 0.952);
    margin-top: 50px;
}

.footer .row i {
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer .row {
    padding: 50px 0;
}


.footer .row i:hover {
    box-shadow: 1px 1px 4px 1px rgb(223, 214, 214);
}

.sub {
    padding: 10px 0;
    background-color: rgba(190, 224, 252, 0.596);
}

.sub p {
    margin: 0;
    padding: 0;
    letter-spacing: 4px;
}